﻿@using System.Web.Optimization
@using FormsBuilder.Common.Domain.Metadata
@using FormsBuilder.Web.Configuration

<!DOCTYPE html>
<html ng-app="rf-designer" ng-controller="FormBuilderController">
<head>
    <title>
        Alpha Centauri Forms Builder
    </title>


    <link rel="stylesheet" href="~/app/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/app/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="~/app/bower_components/ngtoast/dist/ngToast.css">

    <link rel="stylesheet" href="~/app/bower_components/chosen/chosen.css"/>
    <link rel="stylesheet" href="~/app/bower_components/angular-ui-switch/angular-ui-switch.css" />
    <link rel="stylesheet" href="~/app/resources/canvas.css" />
    <link rel="stylesheet" href="~/app/resources/responsiveFormDesigner.css" />
    <link rel="stylesheet" href="~/app/resources/toolboxItems.css" />
</head>
<body>

<toast></toast>

<div ng-if="!isReady">
    <h3>Alpha Centauri is loading ...</h3>
</div>

<div id="designer-container" ng-if="isReady">
    
    <div id="top-banner">
        <rf-banner></rf-banner>
    </div>

    <div class="content">

        <div class="myrow" style="margin: 0px;">
            <rf-ribbon></rf-ribbon>
            <hr />
        </div>

        <div class="myrow" style="margin: 0px;">

            <section resizable r-directions="['right']" r-flex="true">
                <div id="toolbox-conatiner">
                    <rf-toolbox />
                </div>
            </section>

            <section>
                <div id="canvas-container">
                    <rf-canvas />
                </div>
            </section>

            <section resizable r-directions="['left']" r-flex="true" id="control-properties-section">
                <div id="control-properties-container">
                    <rf-control-settings control="appState.selectedControl"></rf-control-settings>
                </div>
            </section>
        </div>

    </div>

</div>

</body>

@*scripts*@

<script type="text/javascript">
    
</script>

@Scripts.Render("~/bundles/bower_components", "~/bundles/designer")


@*CSS*@

<script type="text/javascript">
    var ac = {};
    ac.designer = {};
    ac.designer.globalSettings = {
        @{
            var idx = 0;
            foreach (string key in this.Request.QueryString.Keys)
            {
                <text>@(idx ++ > 0 ? "," : string.Empty) "@(key)": "@(this.Request[key].Replace("\"", "\\\""))"</text>
            }
        }
    };
</script>
</html>
