﻿.controlColumn {
    padding: 5px;
    border: 1px dashed #ccc;

    height: 100%;
}

.selectedControlColumn {
    padding: 5px;
    border: 1px solid blue;
    
    height: 100%;
}

.controlColumn:hover {
    background: url('./images/dragHandle.png') left center no-repeat;
}

.canvasRows {
    border: 1px dashed #aaa;
    padding: 20px;    
}

.canvasPanel {
    background: #eee; width: 100%;
    min-height: 300px;
}

.controlRow {
    border: 1px dashed #ccc;
    padding: 3px 0 3px 15px;
    min-height: 55px;
}

.controlRow:hover {
    background: url('./images/dragHandle.png') left center no-repeat;
}

.controlRowSelected {
    
    border: 1px dashed blue;
    
}

#previewFormFrame {
    border: none;
}


.control-property-label {
    width: 100px;
}