﻿.canvasColumns {
    min-height: 50px;
}

.toolbox-item {
    width: 32px;
    height: 32px;
    margin: auto
}

.toolbox-item-container {
    width: 80px; 
    margin: 1px; 
    padding: 2px; 
    cursor: pointer; 
    text-align: center;
    border: 1px solid #fff;
}

.toolbox-item-container:hover {
    
    border-right: 1px solid #eee;
    border-bottom: 1px solid #ccc;
}

.toolbox-text {
    background: url("./images/controls/ToolboxCtrls.png") no-repeat;
    background-position: -128px -32px;
}

.toolbox-Image {
    background: url("./images/controls/ToolboxCtrls.png") no-repeat;
    background-position: -192px 0px;
}

.toolbox-String {
    background: url("./images/controls/ToolboxCtrls.png") no-repeat;
    background-position: -128px -32px;
}

.toolbox-Integer {
    background: url("./images/controls/ToolboxCtrls.png") no-repeat;
    background-position: -128px -32px;
}

.toolbox-Guid {
    background: url("./images/controls/ToolboxCtrls.png") no-repeat;
    background-position: -128px -32px;
}

.toolbox-Boolean {
    background: url("./images/controls/ToolboxCtrls.png") no-repeat;
    background-position: -160px -32px;
}

.toolbox-DateTime {
    background: url("./images/controls/ToolboxCtrls.png") no-repeat;
    background-position: -128px 0px;
}

.toolbox-Double {
    background: url("./images/controls/ToolboxCtrls.png") no-repeat;
    background-position: -128px -32px;
}

.toolbox-CanvasRow {
    background: url("./images/controls/ToolboxCtrls.png") no-repeat;
    background-position: -64px -32px;
}

.toolbox-Repeater {
    background: url("./images/controls/ToolboxCtrls.png") no-repeat;
    background-position: -160px -64px;
}

.toolbox-People {
    background: url("./images/controls/ToolboxCtrls.png") no-repeat;
    background-position: -32px -32px;
}

.toolbox-Binary {
    background: url("./images/controls/ToolboxCtrls.png") no-repeat;
    background-position: -64px -64px;
}

.toolbox-Label {
    background: url("./images/controls/ToolboxCtrls.png") no-repeat;
    background-position: -224px 0px;
}

.toolbox-CanvasColumnContainer {
    background: url("./images/controls/ToolboxCtrls.png") no-repeat;
    background-position: -224px -32px;
}

.toolbox-Lookup {
    background: url("./images/controls/ToolboxCtrls.png") no-repeat;
    background-position: -256px -32px;
}
