﻿<p class="input-group">
    <input type="text" id="{{control.name}}" ng-disabled="!control.enabled" class="form-control"
           uib-datepicker-popup ng-model="today" is-open="opened" close-text="Close" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</p>