﻿<select ng-disabled="!control.enabled" type="text"
        class="form-control" id="{{control.name}}"
        chosen ng-model="control.value"
        allow-single-deselect="true" >
    <option value="AK">Alaska</option>
    <option value="AZ">Arizona</option>
    <option value="AR">Arkansas</option>
    <option value="CA">California</option>
</select>
