﻿<div class="canvasColumns" ng-model="control.templateRow.columns"
     ui-sortable="canvasControl_SortableOptions">

    <span ng-if="control.templateRow.columns == null || control.templateRow.columns.length == 0">
        {{control.dataTypeAsString}}
    </span>

    <div ng-repeat="subCtrl in control.templateRow.columns"
         class="col-sm-{{subCtrl.layoutColumns}} {{ subCtrl.isSelected ? 'selectedControlColumn' : 'controlColumn' }}"
         ng-click="appStateManager.selectControl(subCtrl);$event.stopPropagation();">
        <rf-control control="subCtrl" />
    </div>
</div>