﻿<div style="padding: 10px;">

    <div class="panel panel-default canvasPanel">


        <!-- Canvas Rows -->
        <div >

            <div class="canvasRows" ng-model="appState.form.rows" ui-sortable="canvasRow_SortableOptions">

                <div class="row canvasColumns controlRow {{ row.isSelected ? 'controlRowSelected' : '' }}"
                     
                     ng-model="row.columns"
                     ng-repeat="row in appState.form.rows"
                     ui-sortable="canvasControl_SortableOptions"
                     ng-click="appStateManager.selectRow(row);$event.stopPropagation();">

                    <rf-control ng-repeat="cc in row.columns"
                            control="cc" 
                            class="controlColumn col-sm-{{cc.layoutColumns}} {{ cc.isSelected ? 'selectedControlColumn' : '' }}"
                            ng-click="appStateManager.selectControl(cc);$event.stopPropagation();"
                            ng-keyup="keyUp(cc, $event)"
                            tabindex="1"></rf-control>
                    
                    <button class="btn btn-sm btn-danger pull-right" ng-click="deleteRow(row)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                </div>

            </div>

        </div>

    </div>

    <!--<p></p>

    <div class="list-group" ng-if="appState.selectedControl != null">
        <div class="list-group-item list-group-item-success">
            Control Settings
        </div>

        <div class="list-group-item">
            <button class="btn btn-danger" ng-click="appStateManager.deleteControl(appState.selectedControl)">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
        </div>



        <div class="list-group-item">

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Name:</span>
                
                <input type="text" class="form-control" ng-model="appState.selectedControl.displayName" ng-disabled="true" aria-describedby="basic-addon1" />
            </div>

        </div>

        <div class="list-group-item">

            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Columns:</span>

                <input type="text" class="form-control" ng-model="appState.selectedControl.layoutColumns" aria-describedby="basic-addon1" />
            </div>

        </div>
    </div>-->


    <span ng-click="showDebugInfo = !showDebugInfo"> >>Debug Info (form layout)</span>
    <div ng-if="showDebugInfo">
        <textarea class="form-control" rows="20">{{appState.form | json}}</textarea>
    </div>

    <script type="text/ng-template" id="previewForm.html">
        <div class="modal-header">
            <h3 class="modal-title">Previewing Form</h3>
        </div>
        <div class="modal-body">
            <textarea class="form-control" rows="5">
                {{previewFormUrl}}
            </textarea>

            <iframe id="previewFormFrame" src="{{ previewFormUrl }}" style="width: 870px; height: 600px;"></iframe>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</div>