﻿<div>



    <script type="text/ng-template" id="contentTypesPickerDlg.tpl.html">
        <div class="modal-header">
            <h3 class="modal-title">Content Types</h3>
        </div>

        <div class="modal-body">
            <div class="list-group">
                <div class="list-group-item"
                     ng-repeat="contentType in appState.listInfo.contentTypes"
                     ng-click="selectContentType(contentType)"
                     style="cursor: pointer">

                    <span>{{contentType.name}}</span>

                    <span ng-if="contentType.isSelected" class="pull-right">
                        <span class="glyphicon glyphicon-ok"></span>
                    </span>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>