﻿<div ng-switch="control.controlType"
                                 popover-is-open="control.isSelected"
                                 popover-enable="appState.showControlPopover"
                                 uib-popover-template="popoverTemplate"
                                 popover-placement="top-left"
                                 ng-style="control.container.style" >

    <!-- column container -->

    <rf-designer-column-container control="control" ng-switch-when="CanvasColumnContainer"></rf-designer-column-container>

    <rf-designer-repeater control="control" ng-switch-when="Repeater"></rf-designer-repeater>

    <rf-designer-textbox control="control" ng-switch-when="TextBox"></rf-designer-textbox>

    <rf-designer-checkbox control="control" ng-switch-when="CheckBox"></rf-designer-checkbox>

    <rf-designer-fileupload control="control" ng-switch-when="FileUpload"></rf-designer-fileupload>

    <rf-designer-label control="control" ng-switch-when="Label"></rf-designer-label>

    <rf-designer-datepicker control="control" ng-switch-when="DateTimePicker"></rf-designer-datepicker>

    <rf-designer-image control="control" ng-switch-when="Image"></rf-designer-image>

    <rf-designer-peoplepicker control="control" ng-switch-when="Peoplepicker"></rf-designer-peoplepicker>

    <rf-designer-lookup control="control" ng-switch-when="Lookup"></rf-designer-lookup>
</div>
