﻿<div ng-if="control != null">

    <div class="list-group" ng-repeat="cat in controlSettingsRepo.categories">
        <div class="list-group-item list-group-item-success">
            {{cat.categoryName}}
        </div>
        
        <div class="list-group-item" ng-repeat="setting in cat.controlSettings">


            <div class="list-group" ng-if="setting.dataType == 'Rules'">
                <div class="list-group-item list-group-item-success">
                    Rules 
                    <button class="btn btn-success" ng-click="addNewRule()">
                        <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </div>

                <div class="list-group-item" ng-repeat="rule in control.ruleArray.rules">

                    <select ng-model="rule.ruleType" ng-options="t for t in ['Validation', 'Formatting', 'Hide']">
                        
                    </select>

                    <button class="btn btn-danger" ng-click="deleteRule(rule)">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>

                    <br/>
                    <textarea class="form-control" ng-model="rule.expression"></textarea>
                </div>
            </div>
            
            <span ng-if="setting.dataType == 'Boolean'">
                <switch ng-model="control[setting.clientName]"></switch> {{setting.displayName || setting.name}}
            </span>

            <div class="input-group" ng-if="setting.dataType != 'Rules' && setting.dataType != 'Boolean'">
                <span class="input-group-addon control-property-label" id="basic-addon2">{{setting.displayName || setting.name}}</span>
                    
                <ng-switch on="setting.dataType">
                    <input type="text" class="form-control" ng-model="control[setting.clientName]" aria-describedby="basic-addon1"
                           ng-switch-when="String"/>

                    <input type="text" class="form-control" ng-model="control[setting.clientName]" aria-describedby="basic-addon1"
                           ng-switch-when="Guid"/>

                    <input type="text" class="form-control" ng-model="control[setting.clientName]" aria-describedby="basic-addon1"
                           ng-switch-when="Integer" />
                </ng-switch>
            </div>

        </div>
    </div>

</div>

<div ng-if="control == null">
    No Control Selected.
</div>
