﻿<div>
    <div class="btn-group btn-group-xs" ng-click="$event.stopPropagation();">
        <button class="btn btn-sm btn-default" ng-click="widen(control)">
            <i class="glyphicon glyphicon-resize-full"></i>
        </button>

        <button class="btn btn-sm btn-default" ng-click="shorten(control)">
            <i class="glyphicon glyphicon-resize-small"></i>
        </button>

        <button class="btn btn-sm btn-default" ng-click="alignInContainer(control, 'left')">
            <i class="glyphicon glyphicon-align-left"></i>
        </button>
        <button class="btn btn-sm btn-default" ng-click="alignInContainer(control, 'center')">
            <i class="glyphicon glyphicon-align-center"></i>
        </button>
        <button class="btn btn-sm btn-default" ng-click="alignInContainer(control, 'right')">
            <i class="glyphicon glyphicon-align-right"></i>
        </button>
    </div>


    <div class="btn-group btn-group-xs">

        <button class="btn btn-sm btn-danger" ng-click="removeControl(control)">
            <i class="glyphicon glyphicon-trash"></i>
        </button>

        <button class="btn btn-sm btn-primary" ng-click="control.isSelected=false;$event.stopPropagation();">
            <i class="glyphicon glyphicon-remove"></i>
        </button>
    </div>

</div>
