﻿<div class="btn-group btn-group-lg">

    <button class="btn btn-default" ng-click="closeDesigner()">
        <i class="glyphicon glyphicon-remove"></i>
        <br/>
        Close
    </button>

    <button class="btn btn-default" ng-click="previewForm()">
        <i class="glyphicon glyphicon-zoom-in"></i>
        <br />
        Preview
    </button>

    <button class="btn btn-default" ng-click="saveForm()">
        <i class="glyphicon glyphicon-floppy-disk"></i>
        <br />
        Save
    </button>

    <button class="btn btn-default" ng-click="publishForm()">
        <i class="glyphicon glyphicon-send"></i>
        <br />
        Publish
    </button>

    <button class="btn btn-default" ng-click="getForm()">
        <i class="glyphicon glyphicon-refresh"></i>
        <br />
        Reload
    </button>

    <button class="btn btn-default" ng-click="showDefaultForm()">
        <i class="glyphicon glyphicon-flag"></i>
        <br />
        Default
    </button>


    <button class="btn btn-danger" ng-click="resetForm()">
        <i class="glyphicon glyphicon-trash"></i>
        <br />
        Delete
    </button>

    <button class="btn btn-default" ng-model="appState.showControlPopover"
            title="Enable/Disable control popover" uib-btn-checkbox>
        <i class="glyphicon glyphicon-tint"></i>
        <br />
        Inline Settings
    </button>
</div>
