﻿<!-- this is rendering the toolbox groups -->

<rf-content-type-picker list-id="appState.listId"></rf-content-type-picker>


<ul class="list-group" ng-repeat="toolboxGroup in appState.toolboxGroups">
    <li class="list-group-item list-group-item-success">
        {{toolboxGroup.displayName || toolboxGroup.name}}
    </li>

    <li class="list-group-item">

        <div class="row toolbox">

            <div ng-repeat="field in toolboxGroup.fields" style="float: left" rf-draggable-data="field"
                 connect-to-sortable="{{getConnectToSortable(field)}}">


                <div class="toolbox-item-container" title="{{field | json}}">

                    <div style="" class="toolbox-item toolbox-{{field.dataTypeAsString}}">

                    </div>

                    <label style="font-size: xx-small">
                        {{field.displayName || field.name}}
                    </label>

                </div>

            </div>

        </div>

    </li>


</ul>

<span ng-click="debugInfoToggled = !debugInfoToggled">
    >> Toggle Debug Info (Toobox)
</span>

<div ng-if="debugInfoToggled">
    <textarea class="form-control" rows="20">
        {{appState.toolboxGroups | json}}
    </textarea>    
</div>
