﻿<div class="modal-header">
    <h3 class="modal-title">{{title}}</h3>
</div>

<div class="modal-body">
    <span>{{message}}</span>
</div>

<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="setResult(true)">Yes</button>
    <button class="btn btn-default" type="button" ng-click="setResult(false)">No</button>
</div>