﻿
<div class="canvasColumns">
    <span ng-if="control.columns == null || control.columns.length == 0">{{control.dataTypeAsString}}</span>
    <div ng-repeat="subCtrl in control.columns" class="col-sm-{{subCtrl.layoutColumns}} {{ subCtrl.isSelected ? 'selectedControlColumn' : 'controlColumn' }}"
         ng-click="appStateManager.selectControl(subCtrl);$event.stopPropagation();">
        <rf-runtime-control control="subCtrl" />
    </div>
</div>