﻿<div ng-switch="control.controlType" popover-is-open="control.isSelected" uib-popover-template="popoverTemplate" popover-placement="top-left" ng-show="!!control.visible">

    <rf-runtime-column-container control="control" ng-switch-when="CanvasColumnContainer"></rf-runtime-column-container>

    <rf-runtime-repeater control="control" ng-switch-when="Repeater"></rf-runtime-repeater>

    <rf-runtime-textbox control="control" ng-switch-when="TextBox"></rf-runtime-textbox>

    <rf-runtime-checkbox control="control" ng-switch-when="CheckBox"></rf-runtime-checkbox>

    <rf-runtime-fileupload control="control" ng-switch-when="FileUpload"></rf-runtime-fileupload>

    <rf-runtime-label control="control" ng-switch-when="Label"></rf-runtime-label>

    <rf-runtime-datepicker control="control" ng-switch-when="DateTimePicker"></rf-runtime-datepicker>

    <rf-runtime-peoplepicker control="control" ng-switch-when="Peoplepicker"></rf-runtime-peoplepicker>

    <rf-runtime-lookup control="control" ng-switch-when="Lookup"></rf-runtime-lookup>

    <rf-runtime-image control="control" ng-switch-when="Image"></rf-runtime-image>

</div>