﻿<p class="input-group" ng-click="$event.stopPropagation();">
    <input type="text" id="{{control.name}}" ng-disabled="!control.enabled" class="form-control"
           uib-datepicker-popup ng-model="control.value" is-open="opened" close-text="Close" />
    <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="opened = !opened">
            <i class="glyphicon glyphicon-calendar"></i>
        </button>
    </span>
</p>