﻿<select type="text"
        class="form-control" id="{{control.name}}"
        chosen
        multiple
        ng-model="control.value"
        ng-options="item.title for item in listLookupItems"
        allow-single-deselect="true"
        ng-if="control.isMultiple">
    <option value=""></option>
</select>

<select type="text"
        class="form-control" id="{{control.name}}"
        chosen
        ng-model="control.value"
        ng-options="item.title for item in listLookupItems"
        allow-single-deselect="true"
        ng-if="!control.isMultiple">
    <option value=""></option>
</select>