﻿<!--
    Also important: if your ngModel is null or undefined, you must manually include an empty option inside your <select>,
    otherwise you'll encounter strange off-by-one errors:
-->

<select type="text"
        class="form-control" id="{{control.name}}"
        chosen
        multiple
        ng-model="control.value"
        ng-options="user.title for user in users"
        allow-single-deselect="true"
        ng-if="control.isMultiple">
    <option value=""></option>
</select>

<select type="text"
        class="form-control" id="{{control.name}}"
        chosen
        ng-model="control.value"
        ng-options="user.title for user in users"
        allow-single-deselect="true"
        ng-if="!control.isMultiple">
    <option value=""></option>
</select>
