﻿
<div class="canvasColumns">
    <span ng-if="control.templateRow.columns == null || control.templateRow.columns.length == 0">{{control.dataTypeAsString}}</span>
    
    <button class="btn btn-success" ng-click="newRow()">
        <i class="glyphicon glyphicon-plus"></i>
    </button>

    <hr/>

    <div ng-repeat="row in control.rows" class="row">
        
        <div ng-repeat="subCtrl in row.columns" class="col-sm-{{subCtrl.layoutColumns}} {{ subCtrl.isSelected ? 'selectedControlColumn' : 'controlColumn' }}"
             ng-click="appStateManager.selectControl(subCtrl);$event.stopPropagation();">
            <rf-runtime-control control="subCtrl"/>
        </div>

        <button class="btn btn-danger" ng-click="removeRow(row)">
            <i class="glyphicon glyphicon-remove"></i>
        </button>

    </div>

</div>