﻿@using System.Web.Optimization
<!DOCTYPE html>
<html ng-app="rf-runtime">
    <head>
        <title>
            Alpha Centauri Forms Builder
        </title>


        <link rel="stylesheet" href="~/app/bower_components/chosen/chosen.css"/>
        <link rel="stylesheet" href="~/app/bower_components/angular-ui-switch/angular-ui-switch.css" />
        <link rel="stylesheet" href="~/app/bower_components/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/app/bower_components/bootstrap/dist/css/bootstrap-theme.css"/>
        <link rel="stylesheet" href="~/app/resources/runtime.css"/>

    </head>
<body ng-controller="FormRuntimeController">



<h3>
    This is runtime. {{message}}
</h3>

<div class="panel panel-default runtimePanel">


    <div>

        <div class="runtimeRows">

            <div class="row canvasColumns runtimeRow" ng-repeat="row in runtimeState.form.rows">
                <div ng-repeat="cc in row.columns" class="col-sm-{{cc.layoutColumns}}">
                    <rf-runtime-control control="cc"/>
                </div>

            </div>
        </div>

    </div>

    <br/>

    <div class="text-center">
        <button class="btn btn-primary" ng-click="submitItem()">Submit</button>
    </div>

    <br/>

</div>

</body>

@Scripts.Render("~/bundles/bower_components", "~/bundles/runtime")


<script type="text/javascript">
    var ac = {};
    ac.runtime = {};
    ac.runtime.globalSettings = {};

    @foreach (string key in this.Request.QueryString.Keys)
    {
        <text>ac.runtime.globalSettings.@(key) = '@(this.Request[key])';</text>
    }

</script>

</html>
